body {
  font-family: 'Nunito', Arial, sans-serif;
  font-size: 12px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;

}

.flex{
  display: flex;
  justify-content: space-between;
  padding: 20px;
 
}

header #bars{
  display: none;
}


 


header a{
  text-decoration: none;
  color: black;
  font-weight: bolder;
  font-size: 15px;
}







  

/*
/*
https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/melbourne.jpg


https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/fitzroy.jpg
https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/st-kilda.jpg
https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/central-business-district.jpg



<!-- Logo: https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/logo.png -->
 <!-- Heart icon: https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/heart.png -->
 <!-- Chat icon: https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/chat.png -->
    <p>Make it look like this:</p>
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/airbnb-solution-image.jpg" width="100" alt="solution" style="width:1200px;" />


*/
/**
For banner over lay add this class to your div
<div class="banner__container">
  <div>
      <!-- content goes here -->
  </div>
</div>
*/
.banner_container{
  position: relative;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/melbourne.jpg);
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.banner__container:before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.4);
  content: "";
}


.banner_container h1{
  font-size:60px ;
}

.middle-content{

  align-self: center;
  justify-content: center;
  color: white;
  position: absolute;

}


.banner_container.middle-content{
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute
}

.banner_container a{
  text-decoration: none;
  font-size: 20;
  font-weight: bold;
  color: white;
  background-color: red;
  padding: 10px 60px;
  border-radius: 5px;
  box-shadow: rgba(0,0,0,0.4);
  margin-top: 50px;

  
}

.box{
  
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  background-color: rgb(235, 232, 232);
  padding: 40px 5px


}
.box div{
 
  background-color: rgb(218, 218, 218);
}

.box div h3{
  margin: 10px 0 10px 20px;
  font-weight: 900;
}

.box div div{
  background-color: white;
  align-items: center;
  padding: 15px;
}

.bottom h4{
  margin-bottom: 10px;
}
 
.bottom{
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;

}

.content2{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin-bottom: 25px;
  background-color: rgba(235, 229, 229, 0.933);
 
}






#find-button a{
  text-decoration: none;
  font-size: 20;
  font-weight: bold;
  color: white;
  background-color: red;
  padding: 10px 60px;
  border-radius: 5px;
  box-shadow: rgba(0,0,0,0.4);
  align-self: center;
  justify-self: center;
  margin-top: 10px;
 
}
footer{
  background-color: black;
  text-align: center;
  color:white;
  padding: 40px;
}


@media (min-width:200px) and (max-width:500px){
  .banner{
   
    height: 100px;
    width: 100;
  
    align-items: center;
    justify-content: center;
    text-decoration-color: white;
  }



  }

  @media only screen and (max-width: 2600px) {

    .box{
      display: grid 1 fr 1fr;
    }
    .content2{
        display: grid ;
        grid-template-columns: 1fr 1fr 1fr

    }

    
  
}

@media only screen and (max-width: 1280px) {
  
  .interact{
    max-width: 1200px;
    flex-direction: column;
  }

  .content2{
    display: grid ;
    grid-template-columns: 1fr 1fr 1fr

  }
}


@media only screen and (max-width: 748px) {


  .banner{
    height: 748PX;
    width: 600PX;
  }

  .box{
  
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }
  .content2{
    display: grid;
    grid-template-columns: 1fr 1fr

  }

  
}


@media only screen and (max-width: 480px) {

  header nav{
    padding: 10px;
  }
  header a{
    display: none;
  }

  header #bars{
    display: grid;
    
  }

.banner_container {
    font: size 30px;
  }

  .banner{
    height: 300PX;
    width: 480PX;
  }

  .box{
  
    display: grid;
    grid-template-columns: 1fr;
    
  }
  .content2{
    display: grid ;
    grid-template-columns: 1fr;

  }



